<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="myModalLabel">Registro</h4>
    <div class="clearfix"></div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 col-xs-offset-3">
                <form action="{% url 'register' %}" enctype="multipart/form-data" method="post">
                    {% if mensaje %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            {{ mensaje }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Registrar" id="id_grabar" class="btn btn-primary btn-block" />
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>